{% extends "gift_registry/base.html" %}

{% load static %}

{% block main_content %}
<p><a href="{% url "gift_list" %}"><span style="font-size: 1.3em">⬅</span> Back to Gifts</a></p>


<h1>{{ object }}</h1>
<p>{% if object.image %}
<img src="{{ MEDIA_URL }}/{{ object.image }}" alt="" />
{% else %}
<img src="{% static 'gift_registry/img/gold-present.jpg' %}" alt="" />
{% endif %}</p>

<p style="text-align: center">{{ object.desc }}</p>

{% if object.url %}<p style="text-align: center"><a href="{{ object.url }}" target="_blank">{{ object.url }}</a></p>{% endif %}

{% if object.bookable %}
<form method="post" action="">
{% csrf_token %}
<fieldset>
<p><em>To choose this gift, enter your email address and select "Choose". We'll send you an email to confirm your choice.</em>
{{ giver_form.as_p }}
<p><button type="submit">Choose <span style="font-size: 1.3em">✔</span></button></em></p>
</fieldset>
</form>
{% else %}
<p style="text-align: center"><strong>Someone has already chosen this gift.</strong></p>
{% endif %}
{% endblock %}
